<div class="app">
  <!-- <app-hello-world></app-hello-world> -->
  <!-- <app-menu></app-menu>
  <!-- <app-login></app-login>
  <app-footer></app-footer> --> 
  <!-- <formsexample></formsexample> -->
  <!-- <router-outlet></router-outlet>
 <app-dynamicform></app-dynamicform> -->
 <!-- <app-server></app-server> -->
 <div class="app-container">
  <app-app-menu></app-app-menu> <!-- This will display the navigation menu -->
  <router-outlet></router-outlet> <!-- This will display the routed components -->
</div>

</div>